{
	"mod": {
		"ps": {
			"host": "db-host-url",
			"username": "username",
			"password": "password"
		},
		"web": {
			"ac_allow_origin": "http://localhost:8081",
			"ac_max_age": 86400
		}
	},
	"PORT": 8081
}
